 /**
  * Custom Color Overrides
  *
  * This file is automatically populated if the user chooses custom colors in the Customizer.
  */
 @import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
 
 #footer-bottom {
     background-color: #007b5e;
     font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
     padding-top: 40px;
 }
 
 #footer-bottom .widget-area {
     margin: 0;
 }
 
 #footer-bottom .footer-navigation {
     margin: 0;
 }
 
 #footer-bottom a,
 #footer-bottom h2,
 #footer-bottom li {
     color: aliceblue;
 }
 
 #footer-bottom svg {
     fill: aliceblue;
     width: 30px;
   height: 30px;
 }
 
 #footer-bottom #colophon {
     padding: 0;
     margin-top: 0 !important;
 }
 
 #footer-bottom a {
     text-decoration: none;
     line-height: 1.6 !important;
 }
 
 #footer-bottom .widget-area li:hover a {
     font-weight: 700 !important;
 }
 
 #footer-bottom .widget-area li:hover {
     margin-left: 5px !important;
     font-weight: 700 !important;
 }
 
 #footer-bottom .widget-area li::before {
     content: "\f101";
     font-family: FontAwesome;
     font-style: normal;
     font-weight: normal;
     text-decoration: inherit;
     font-size: 18px;
     padding-right: 0.5em;
     top: 10px;
     left: 0;
 }
 
 #footer-bottom li {
    display: flex;
    align-items: flex-start;
    padding-top: 10px !important;
 }
 #footer-bottom p {
     font-size: 1rem; 
 }
 
 #footer-bottom .widget-area .widget-title {
     padding-left: 10px;
     border-left: 3px solid #eeeeee;
     line-height: 1.2 !important;
     font-size: 1.25rem;
     font-family: inherit;
     font-weight: 500;
     line-height: 1.2;
 }
 #footer-bottom  .wp-block-latest-comments .wp-block-latest-comments__comment {
     margin-bottom: 0 !important;
     margin-top: 0 !important;
     padding: 1.8px 0;
     align-items: start;
 }
 .footer-navigation-wrapper li a
 {
     padding: 6px !important;
 }
 
 /* Comment */
 .last-comment .wp-block-latest-comments__comment-meta
 {
     display: none;
 }
 .last-comment .wp-block-latest-comments__comment{
     color:#5b8cc1;
     font-weight: bold;
     border-bottom: 1px solid #c2bdbd;
 }
 .last-comment .widget-area {
     display: block;
     margin-top: 0;
     padding-top: 0;
 }
 .last-comment .widget-area .widget-title {
     line-height: 1.2 !important;
     font-size: 1.25rem;
     font-family: inherit;
     font-weight: 500;
     line-height: 1.2;
 }
 .last-comment .widget-area p {
     font-size: 1rem !important;
     padding-left: 8px;
 }
 .last-comment .wp-block-latest-comments .wp-block-latest-comments__comment
 {
     margin-top: 0 !important;
     margin-bottom: 0 !important;
 }
 .last-comment h2{
     border-bottom: 2px solid black;
     width: 70px;
     padding-bottom: 10px;
     margin: 0;
 }
 .last-comment .wp-widget-group__inner-blocks
 {
     margin-top: 12px;
 }
/**
 * Custom Color Overrides
 *
 * This file is automatically populated if the user chooses custom colors in the Customizer.
 */
 .change-content {
    margin-left: 10px;
    display: flex;
    overflow: hidden;
  }
  
  .content-archive {
    width: 35%;
  }
  .content-archive .widget-area {
    display: unset;
  }
  .content-main {
    width: 50%;
  }
  .content-recent-post {
    width: 35%;
  }
  
  .content-archive .widget-area .wp-block-latest-posts > li > a {
    font-size: 13px !important;
  }
  .content-recent-post  ul
  {
    background-color: #72bbbe !important;
    margin: 0 !important;
    color: white;

  }
  .content-recent-post  ul li
  {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 10px 0;
  }
  .content-recent-post  ul li a
  {
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    padding: 0 30px;
  }
  .content-recent-post  ul li a:hover
  {
    font-weight: 700;
  }
  .content-recent-post .viewall{
    margin: 0 !important;
    text-align: center;
    background-color: #82ccd2;
    padding: 5px 0;
  }
  .content-recent-post .viewall a
  {
    color: white;
  }
  .date-recent-post
  {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-family: initial;
  }
.date-recent-post hr
{
  margin: 0 !important;
  height: 2px;
  background-color: white;
}
 /**
  * Custom Color Overrides
  *
  * This file is automatically populated if the user chooses custom colors in the Customizer.
  */
 @import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
 
 #footer-bottom {
     background-color: #007b5e;
     font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
 
 }
 
 #footer-bottom .widget-area {
     margin: 0;
 }
 
 #footer-bottom .footer-navigation {
     margin: 0;
 }
 
 #footer-bottom a,
 #footer-bottom h2,
 #footer-bottom li {
     color: aliceblue;
 }
 
 #footer-bottom svg {
     fill: aliceblue;
     width: 30px;
   height: 30px;
 }
 
 #footer-bottom #colophon {
     padding: 0;
 }
 
 #footer-bottom a {
     text-decoration: none;
     font-size: 1rem; 
 }
 
 #footer-bottom .widget-area li:hover a {
     font-weight: 700 !important;
 }
 
 #footer-bottom .widget-area li:hover {
     margin-left: 5px !important;
     font-weight: 700 !important;
 }
 
 #footer-bottom .widget-area li::before {
     content: "\f101";
     font-family: FontAwesome;
     font-style: normal;
     font-weight: normal;
     text-decoration: inherit;
     font-size: 18px;
     padding-right: 0.5em;
     top: 10px;
     left: 0;
 }
 
 #footer-bottom li {
     display: flex;
     align-items: flex-start;
     font-size: 1rem; 
 }
 #footer-bottom p {
     font-size: 1rem; 
 }
 
 #footer-bottom .widget-area .widget-title {
     padding-left: 10px;
     border-left: 3px solid #eeeeee;
     line-height: 1.2 !important;
     font-size: 1.25rem;
     font-family: inherit;
     font-weight: 500;
     line-height: 1.2;
 }
 #footer-bottom  .wp-block-latest-comments .wp-block-latest-comments__comment {
     margin-bottom: 0 !important;
     margin-top: 0 !important;
     padding: 1.8px 0;
 }
 .footer-navigation-wrapper li a
 {
     padding: 6px !important;
 }
 
 /* Comment */
 .last-comment .wp-block-latest-comments__comment-meta
 {
     display: none;
 }
 .last-comment .wp-block-latest-comments__comment{
     color:#5b8cc1;
     font-weight: bold;
     border-bottom: 1px solid #c2bdbd;
 }
 .last-comment .widget-area {
     display: block;
     margin-top: 0;
     padding-top: 0;
 }
 .last-comment .widget-area .widget-title {
     line-height: 1.2 !important;
     font-size: 1.25rem;
     font-family: inherit;
     font-weight: 500;
     line-height: 1.2;
 }
 .last-comment .widget-area p {
     font-size: 1rem !important;
     padding-left: 15px;
 }
 .last-comment .wp-block-latest-comments .wp-block-latest-comments__comment
 {
     margin-top: 0 !important;
     margin-bottom: 0 !important;
 }
 .last-comment h2{
     border-bottom: 2px solid black;
     width: 70px;
     padding-bottom: 10px;
     margin: 0;
 }
 .last-comment .wp-widget-group__inner-blocks
 {
     margin-top: 12px;
 }
 .change-content {
   margin-left: 10px;
   display: flex;
   overflow: hidden;
 }
 
 .content-archive {
   width: 35%;
 }
 .content-archive .widget-area {
   display: unset;
 }
 .content-main {
   width: 50%;
 }
 .content-comment {
   width: 35%;
 }
 
 .content-archive .widget-area .wp-block-latest-posts > li > a {
   font-size: 13px !important;
 }
 